# игнорировать каталоги .git и .cache
.git
.cache

# игнорировать каталог виртуального окружения .venv
.venv

# игнорировать все файлы *.class во всех каталогах, включая корневой каталог сборки
**/*.class

# игнорировать все файлы *.md во всех каталогах, включая корневой каталог сборки
**/*.md